# Build artifacts
/build/
/Debug/
/Release/
/x64/
/CMakeFiles/
/CMakeCache.txt
/*.vcxproj.user
/*.suo
*.ilk
*.pdb
*.exp
*.obj
*.lib
*.dll
*.idb
*.ipch
*.iobj
*.ipdb
*.cache
*.log

# CTest temporary
Testing/Temporary/
